<!DOCTYPE html>
<html lang="en">
   <head>
      <title>About Us - HumanFOX</title>
      <meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
          <!-- Facebook Tags -->
      <meta property="fb:app_id" content="634466810023015" />
      <meta property="og:image" content="http://humanfox.com/assets/images/backgrounds/about.jpg" />
      <meta name="copyright" content="HumanFOX 2015-2016">
      <meta property="og:description" content=""/>
      <meta property="og:url" content="http://www.humanfox.com/about" />
      <!-- <meta property="og:url" content="http://www.humanfox.com/capsule/stephanie_okereke"/> -->

      <!-- Place Title here for Facebook-->
      <meta property="og:title" content="About us | HumanFOX" />


      <!-- Twitter Tags -->
      <!-- Google + Tags -->
      <meta name="google-site-verification" content="3qH-jQmPxWtoRy6yraSR4xYtfyFb3CQVBYcqe0MH0_M" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./assets/about/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./assets/about/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 
  <style>
body
{
overflow-x:hidden !important;
}
  .mar_img
  {
    width: 100px;
    height: 100px;
    border:solid 2px #f1f1f1;
    opacity: 0.9;
    transition: all 0.2s;
  }
  .mar_img:hover
  {
    opacity: 1; 
    cursor: pointer;
  }
  .icon_ph
  {
    padding-right: 6px;     
    font-size: 16px;
  }
  #logo
  {
   width:100px; 
   margin-top: -15px;
  }
 /*floating button*/

#floating-button {
    top: 65px !important;
}
#floating-button>li>i {
    font-size: 12px !important;
}
#fix-nav
{
height:20px !important;   
}

  </style>

</head>
<body>
<div id="fb-root"></div>
 <a href="/"><i class="material-icons pointer" id="capsule-home" style="top: 33px; left: 24px;position:absolute;color:white;z-index: 12 !important;">stars</i></a>
  <div class="fixed-action-btn vertical click-to-toggle" style="top: 20px; right: 24px;" id="fix-nav">
         <a class="btn-floating btn-small red" id="b_float">
         <i class="small material-icons">menu</i>
         </a>
         <ul id="floating-button">
            <li id="floating-label"><a class="btn-floating red" href="/explore"><i class="material-icons" style="font-size: 14px !important;">label</i>
               </a>
            </li>
            <li><a class="btn-floating yellow darken-1" href="/careers"><i class="material-icons" style="font-size: 14px !important;">person_pin</i></a></li>
         </ul>
      </div>    
    

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container" style="padding-top: 100px;opacity: 0.9;">
        
        <h4 class="header center white-text light" style="text-transform: capitalize;font-weight: 200;">"<i>Others have seen what is and asked why. I have seen what could be and asked why not.</i>"<br/><span style="font-size:16px;">&ndash; Pablo Picasso</span></h4>
       
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="./assets/about/background/picHeader.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
<!--       <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>People love to work with us</h4>
          </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11846609_1055003977845629_64179646072667306_n.jpg?oh=82d56d4937b598c28fbc3f73db1fbe52&oe=574B6FDE" alt="user image" class="circle mar_img"></h2>
            <h5 class="center">Calcutta Cacophony</h5>

            <p class="light">The only thing we say, 
"Kolkata is a city, Calcutta is an emotion".
And amongst all the rallies, tensions, crowds and quarrels, we still call our city the 'City of Joy'.
Pictures bring memories.
Reviews bring information.
Writings speak our mind.
Events show development.
So we present you Calcutta Cacophony, diary of a Calcuttan.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-xft1/v/t1.0-9/10953236_10152588738386820_5468273249327162312_n.png?oh=ef800bc83e1951acb90b269d40b1684d&oe=57829989&__gda__=1469235323_12cf412322bd37a37c74a073c253f026" alt="user image" class="circle mar_img"></h2>
            <h5 class="center">AIESEC India</h5>

            <p class="light">Present in over 125 countries and territories and with over 100,000 members, AIESEC is the world's largest youth-led organization.</p>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><img src="https://scontent-cdg2-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10629820_771971279534521_5970265985932352402_n.png?oh=0d58e0f53f648d73c610affaffffa64c&oe=5780248B" alt="user image" class="circle mar_img"></h2>
            <h5 class="center">GrabOn</h5>

            <p class="light">Founded in 2013, GrabOn has been and continues to be the fastest growing startup in Indias crowded couponing space. With more than 5 million visits each month, and ranked 204th on Alexa, GrabOn is also one of the largest couponing companies in India. </p>
          </div>
        </div>
        
      </div>
 -->
    </div>
  </div>

<!-- 
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot" >
      <div class="container" >
        <div class="row center" id="rowCen">
          <span class="header col s12 light">It's necessary to create a society where a dancer can dance, and yes he can earn. Where a singer can sing and manage to own a car. Where an excellent guitarist is not afraid of placements, where there is more freedom to be your true self. That's what we do. And to do this, we need people, because people are important to create a revolution. 
<br/><br/>The motive behind the Capsule is to inspire the best in you.</span>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="http://markmanson.net/wp-content/uploads/2015/10/passion-cover-2000px.png" alt="Unsplashed background img 2"></div>
  </div> -->

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Our Vision</h4>
          
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12">
            <h5 style="font-weight: 300;">
              Our intent is to give every artist, excelling in all sorts of fields foreign to our rigid rationale, a chance to thrive under our mentorship and guidance and be an exemplar of following ones passion so that the ones who were hesitant or doubtful of our purpose and vision in the beginning, realize it and set their foot on our ever welcoming ship of HumanFOX. 
            </h5>
        </div>


        </div>

      </div>
             <div class="col s12 center">
          <h3><i class="material-icons" style="color:brown;font-size: 36px;">stars</i></h3>
          <h4>Meet Our Editors</h4>
          
      <!--   Icon Section   -->
     <div class="row" id="place_editors">
        
      <!--  <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/aarthi2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
       <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/mahisha2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
        <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/shashank2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
 <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/sumedha2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
  <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/sowdamini2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
   <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/mitali2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div>
    <div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="./assets/images/editors/mehul2.jpg"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">Ishan Sharma<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+data.atc_value[k].editorpassion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+data.atc_value[k].editorname+'<i class="material-icons right">close</i></span><p>'+data.atc_value[k].editorbio+'</p><p><ul>'+gen_port_li+'</ul></p></div></div></div> -->
       

        </div>


      </div>
      
      </div>
</div>
</div>
 <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot" >
      <div class="container" >
        <div class="row center" id="rowCen">
          <span class="header col s12 light">Capsule is like a container. A literal time capsule containing every detail of a persons life from his/her childhood to the last time they did something big in their life. 
The people we target for the interview, are the ones who made it big, which in reality is a relative term, so the ones who made it big enough for us to write about them so that their stories can inspire others. Its a beautiful ongoing process that keeps updating a persons admirers of their milestones achieved.
 <br>

          </span>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://c1.staticflickr.com/9/8685/16796097681_978a00d084_b.jpg" alt="Unsplashed background img 2"></div>
  </div>
<div class="container">
<div class="section">
     <div class="row">
     <div class="col s12 center" style="">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Join us on Facebook <a href="https://www.facebook.com/humanfoxofficial" target="_blank" class="light">@humanfoxofficial</a></h4>
          </div>
        <div class="col s12 m6 l6" style="margin-bottom:10px;">
        <div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/permalink.php?story_fbid=1127695533931573&amp;id=464114846956315" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/permalink.php?story_fbid=1127695533931573&amp;id=464114846956315"><p>I did an interview with HumanFOX if anyone wants to check it out: http://humanfox.com/capsule/bucky/</p>Posted by <a href="https://www.facebook.com/TheNewBoston-464114846956315/">TheNewBoston</a> on&nbsp;<a href="https://www.facebook.com/permalink.php?story_fbid=1127695533931573&amp;id=464114846956315">Monday, February 1, 2016</a></blockquote></div></div>
        </div>
        <div class="col s12 m6 l6" style="margin-bottom:10px;">
<div id="fb-root"></div><script>(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script><div class="fb-post" data-href="https://www.facebook.com/BasRutten/posts/1004892969581068" data-width="500"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/BasRutten/posts/1004892969581068"><p>An interview I did with our friends from India!http://www.humanfox.com/capsule/bas/Check this link out as well please: https://play.google.com/store/apps/details?id=com.humanfox.klisfer.humanfox</p>Posted by <a href="https://www.facebook.com/BasRutten/">Bas Rutten</a> on&nbsp;<a href="https://www.facebook.com/BasRutten/posts/1004892969581068">Monday, February 29, 2016</a></blockquote></div></div>
        </div>
        </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper" style="padding-top:0px !important;">
    <div class="section no-pad-bot">
      <div class="container" style="padding-top:0px !important;">
        <div class="row center" style="padding-top:0px !important;">
          <h5 class="header col s12 light">
       <i>   Capsule marks the beginning of our journey so that we can cement the roads to yours. </i><br/><br/>
            We're Hiring!
          </h5><br/><br/>
          <button class="btn blue"><a href="/careers" style="color:white;">Apply on careers</a></button>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="./assets/about/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
  <div class="footer-copyright">
      <div class="container" style="text-align: center;">
      &copy; HumanFOX 2015 &ndash; 2016
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./assets/about/js/materialize.js"></script>
  <script src="./assets/about/js/init.js"></script>

  <script>

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=1503586193298367";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
  </script>
  <script>
  $.get("/ops/editors_list",function(data)
  {
   if(data.status==1)
    {
       
      for(var k=0;k<data.atc_value.length;k++)
      {
        var name = data.atc_value[k].Name;
        var passion = data.atc_value[k].Passion;
        var image = data.atc_value[k].Thumbnail;
        var bio = data.atc_value[k].Bio;
        var gen_ed = '<div class="col s12 m4"><div class="card"><div class="card-image waves-effect waves-block waves-light"><img class="activator" src="'+image+'"></div><div class="card-content"><span class="card-title activator grey-text text-darken-4">'+name+'<i class="material-icons right">more_vert</i></span><p style="color:#3b5998;">'+passion+'</p></div><div class="card-reveal"><span class="card-title grey-text text-darken-4">'+name+'<i class="material-icons right">close</i></span><p>'+bio+'</p><p><ul></ul></p></div></div></div>';
      $("#place_editors").append(gen_ed);
      }
    }
  });

  </script>
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-59763120-2', 'auto');
ga('send', 'pageview');

</script>
   
  </body>
</html>


<!-- 

 -->
